/* FONTS
HEADER: font-family: 'Gochi Hand', cursive;
REGULAR: font-family: 'Roboto', sans-serif;
*/

/* COLOR PALETTE
CHARLESTON GREEN #232726 
BLACK OLIVE #43433F
Ebony #505749
Ebony #5C6B52
Russian Green #749264
Yellow Green #9CD13D
Tea Green #CCE8AB
Tea Green #D2E0AF
Desert Sand E3C8B8
Carnation Pink #FAA8C4
*/

/* ENTIRE PAGE */
body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #CCE8AB;
  color: #232726;
}

/* HEADER */
header {
  width: 100vw;
  margin: 15px;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(7, 1fr) ;
  grid-template-areas:
    "H H H I I I F"
    "H H H I I I F"
    "H H H I I I F"
}

#title {
  width: 30vw;
  grid-area: H;
}

h1 {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  width: 30vw;
}

h2 {
  font-family: 'Gochi Hand', cursive;
}


/* FORM */
label {
  margin: 15px;
  font-weight: bold;
  display: block;
  font-family: 'Gochi Hand', cursive;
}
/*=====================================================
additive form code from workshop with Soleil!*/
button, fieldset {
  border-radius: 6px;
}

form {
  grid-area: I;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form button {
  width: 204px;
  background: black;
  color: white;
  font-size: 16px;
}

.input-container {
  display: flex;
}

.input-container button {
  width: 22px;
}
/*=====================================================*/
/* fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#ingredients-input {
  margin: 10px;
} */
#add {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

#submit {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  background-color: #FAA8C4;
}

.subtract {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

/* RECIPES */
#recipe-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (5, 1fr);
  min-height: 50vh;
}

.recipeCard {
  display: grid;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
  grid-template-columns: .5fr 1fr 1fr;
  grid-template-areas:
    "label label label"
    "E IMG IMG"
    "P IMG IMG"
    "F IMG IMG"
    "C IMG IMG"
    "I I I";
  box-sizing: border-box;
  padding: 10px;
  margin: 25px;
  border: 1px solid #232726 ;
  border-radius: 5%;
  background-color: #505749;
  color: #D2E0AF;
  font-size: 15px;
}

.recipeCard h4 {
  /* grid-row: 1 / 2;
  grid-column: 1 / 3; */
  grid-area: label;
  justify-self: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
}

h4 a {
  text-decoration: none;
  justify-content: center;
  color: #D2E0AF;
}

h4 a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FAA8C4;
}

.recipeCard img {
  /* grid-row: 2 / 4;
  grid-column: 2 / 3; */
  grid-area: IMG;
  object-fit: cover;
  justify-self: center;
  margin: 2px;
}

.recipeCard details {
  grid-area: I;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* .recipeCard>summary {

}  */

.energy {
  grid-area: E;
}

.protein {
  grid-area: P;
}

.fat {
  grid-area: F;
}

.carbs {
  grid-area: C;
}
/* FOOTER */
footer {
  bottom: 0;
  width: 100vw;
  text-align: center;
  margin: 10px;
}

@media screen and (max-width: 850px) {
  header {
    width: 100vw;
    margin: 15px;
    grid-template-rows: repeat(3, 25vh);
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-areas:
      "H H H"
      "I I I"
      "I I I";
  }

  #title {
    width: 100vw;
  }

  h1 {
    width: 100vw;
    margin: 5vh 0 0;
  }

  h2 {
    justify-content: center;
  }

  h3 {

  }
  #recipe-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }
  
  .recipeCard {
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "label label"
      "IMG IMG"
      "IMG IMG"
      "E P"
      "F C"
      "I I";
    box-sizing: border-box;
    padding: 10px;
    max-width: 80vw;
    border: 1px solid #232726 ;
    border-radius: 5%;
    background-color: #505749;
    color: #D2E0AF;
    font-size: 25px;
    justify-content: center;
  }
}