/* ENTIRE PAGE */
body {
  font-family:;
  /* IMPORT FONT */
  margin: 0;
}

/* HEADER */
header {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

/* FORM */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#ingredients-input {
  margin: 10px;
}

#submit {

}

/* RECIPES */
#recipe-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (5, 1fr);
}

.recipeCard {
  display: grid;
  grid-template-areas: 
    "N N N N N"
    "E E IMG IMG IMG"
    "P P IMG IMG IMG"
    "F F IMG IMG IMG"
    "C C I I I"
    "I I I I I";
}

.recipeCard>h4 {
  grid-area: N;
}

.recipeCard>img {
  grid-area: IMG;
}

.recipeCard>details {
  grid-area: I;
}

.recipeCard>summary {
  
}

.energy {
  grid-area: E;
}

.protein {
  grid-area: P;
}

.fat {
  grid-area: F;
}

.carbs {
  grid-area: C;
}
/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}